


@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
@import 'node_modules/@fortawesome/fontawesome-free/scss/brands';
@import 'node_modules/@fortawesome/fontawesome-free/scss/regular';
@import 'node_modules/@fortawesome/fontawesome-free/scss/solid';
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
body{
	background: #e2e3e5;
}
.contact-form-wrapper{
	padding: 30px;
	label{
		font-size: 12px;
		font-weight: bold;
	}
	.box{
		background: #3f3ec2;
		padding: 30px;
		color: $white;
		ul{
			list-style: none;
			padding-left: 0;
			li{
				display: inline-block;
				margin-right: 20px;
				list-style: none;
			}
		}
	}

}